################################################################################################################################################################

# @project        Open Space Toolkit ▸ Physics
# @file           bindings/python/requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

numpy>=1.17.4

open-space-toolkit-io~=0.4,>=0.4.6
open-space-toolkit-mathematics~=0.5,>=0.5.2

################################################################################################################################################################
