################################################################################################################################################################

# @project        Library/Physics
# @file           requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

numpy
LibraryCorePy>=0.2.0
LibraryIOPy>=0.2.0
LibraryMathematicsPy>=0.2.0

################################################################################################################################################################