################################################################################################################################################################

# @project        Library ▸ Physics
# @file           bindings/python/requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

numpy==1.16.4

LibraryCorePy>=0.2.6
LibraryIOPy>=0.2.4
LibraryMathematicsPy>=0.2.6

################################################################################################################################################################
